/*variables*/
/*global things*/
html {
  font-family: "Nunito";
  overflow-x: hidden;
  height: 100%; }

body {
  font-family: "Nunito"; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito"; }

#view-content a, #view-content .scroll-anchor {
  font-weight: bolder;
  color: #768db3 !important; }
  #view-content a :hover, #view-content .scroll-anchor :hover {
    color: #768db3;
    text-decoration: underline !important;
    cursor: pointer; }

.comp-desc {
  padding: 3%;
  border: 2px solid;
  border-color: #011451;
  border-radius: 10px; }
  .comp-desc .activity-title {
    font-size: 115%;
    color: #011451;
    font-weight: bold;
    padding-bottom: 1vh; }
  .comp-desc .activity-type {
    font-style: italic;
    margin-bottom: 2vh; }
  .comp-desc .comp-s {
    font-weight: bold; }
  .comp-desc .comp-lit {
    margin-top: 3vh;
    margin-bottom: 3vh; }
  .comp-desc .lit-title {
    color: #011451;
    font-weight: bolder; }

.panel-body a:hover {
  cursor: pointer; }

.panel-title:focus {
  outline: none; }

.scroll-anchor:hover {
  text-decoration: underline !important;
  cursor: pointer !important; }

#navbar {
  background-color: #d8e2f2;
  text-align: right; }
  #navbar a {
    color: #011451;
    text-decoration: none;
    cursor: pointer; }

.nav-button, #footer-content {
  font-size: 110%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #011451; }

#footer-content {
  padding-top: 3vh;
  padding-right: 2vw;
  padding-bottom: 4vh;
  font-size: 90% !important;
  background-color: #d8e2f2;
  width: 100%; }
  #footer-content a {
    color: #768db3;
    cursor: pointer; }

.nav-button:hover {
  background-color: #bdc7d9 !important;
  text-decoration: none;
  color: #011451;
  webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear; }

.menu-active {
  background-color: #bdc7d9 !important;
  font-weight: bold; }

.content-section {
  margin-top: 5vh;
  margin-bottom: 5vh; }
  .content-section .content-header {
    font-weight: bold;
    font-size: 125%;
    color: #011451;
    margin-bottom: 2vh; }

#diagram img {
  width: 100%;
  height: auto; }

.project-cat {
  color: #011451;
  font-weight: bold; }

#project-groups ul {
  margin-bottom: 2vh; }
  #project-groups ul li {
    margin-bottom: 1vh; }

.lit-ex a :hover {
  cursor: pointer; }

/*media queries*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #navbar {
    margin-bottom: 3vh;
    height: 14vh;
    font-size: 86%; }

  #foot {
    height: 10vh; }

  body {
    font-size: 27px; }

  .text-content {
    padding-left: 4vw;
    padding-right: 4vw;
    margin-top: -2vh; }

  p {
    padding-bottom: 3vh; }

  .nav-button {
    padding-top: 4vh;
    height: 14vh;
    width: 50%; }

  .comp-desc {
    margin-bottom: 9vh; }

  .panel-title {
    font-size: 24px !important; }

  .lit-desc {
    padding-top: 2vh; }

  #footer-content {
    text-align: center; } }
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #navbar {
    margin-bottom: 3vh;
    height: 15vh; }

  #foot {
    height: 10vh; }

  .nav-button {
    padding-top: 4vh;
    height: 15vh;
    width: 50%; } }
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #navbar {
    margin-bottom: 5vh;
    height: 8vh;
    font-size: 100%; }

  #foot {
    height: 8vh; }

  .nav-button {
    height: 8vh;
    min-width: 33%;
    padding-top: 3vh; }

  body {
    font-size: 17px; }

  p {
    padding-bottom: 1.5vh; }

  .comp-desc {
    margin-bottom: 7vh; }

  #footer-content {
    text-align: right; } }
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */

/*# sourceMappingURL=main.css.map */
