<title>Competency Framework</title>
<body>
  <div class="text-content">
      <div class="content-section">
        <p>The structure of the competency framework is informed by the fact that the DH community has expressed that it doesn’t want a curriculum document that dictates content, as is the <a href="https://dl.acm.org/doi/epdf/10.1145/3664191" target="_blank">case of CS</a>. Instead, the idea of this framework is that instructors can <b>define competencies for their specific course context that exist at the nexus of activities and literacies</b>. It is deliberately flexible; a given context may not make use of all the activities and instructors may choose to focus more on some literacies than others, depending on the aims of their programme or needs of their students. <!--not sure if I should include the last bit--></p>
        <p>The following sections outline sample competencies for the activities on a fairly abstract level and illustrate them using semi-concrete examples situated in the context of <a du-smooth-scroll="projects" offset="130" duration="1000" class="scroll-anchor">DH projects of different types</a> drawn from <a href="https://reviewsindh.pubpub.org/" target="_blank">Reviews in DH</a>. You ca download a printable versio of the framework (without the examples) <a target="_self" href="./CF_printout.pdf" download="CF_printout.pdf">here</a>.</p>
        <p>Ideally, users of the framework can <a target="_blank" href="https://forms.cloud.microsoft/Pages/ResponsePage.aspx?id=KVxybjp2UE-B8i4lTwEzyKZssW4STa9OnrBlYKgMA29UOUM5TTJCMVhSM0NHVzVPSktPWlNQREtHMS4u" target="_blank">submit their own competency examples</a>, to eventually be integrated here as a community resource.</p>
        <!--ADD FORM-->
      </div>
      <!--add a form-->

      <div class="content-section">
        <div class="content-header">Competency Descriptions</div>
        <div class="comp-desc col-sm-12">
          <div class="activity-title"> Designing · Discovering</div>
          <div class="activity-type">Creation</div>
          <div class="comp-s">Learners are able to:
            <ul>
              <li>Identify the questions they would like to pose of a resource or that they are looking to address with a proposed tool</li>
              <li>Describe how they might answer these questions using different digital representations, tools, or methods, and compare possible approaches</li>
            </ul>
          </div>
          <div class="comp-lit">
            <div class="lit-desc"><div class="lit-title">Mechanical · Mediatory</div>Learners are able to: <ul><li>identify and describe the types of tools/technologies needed and approximate hardware and infrastructural requirements of potential paths</li><li>explain how the affordances of these technologies make them similar to and set them apart for existing analog methods</li></ul></div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Virtual Viking Longship Project">For a project like the <a du-smooth-scroll="1b" offset="130" duration="1000">Virtual Viking Longship Project</a>, they might think about whether VR or some other form of XR is best suited to their context, consider the different types of hardware available, investigate the different existing software options, and consider the practicalities of deployment.</uib-accordion-group></uib-accordion></div>
          </div>
          <div class="comp-lit">
            <div class="lit-desc"><div class="lit-title">Procedural · Relational</div> Learners are able to give a high-level description of intended outcome and the network of steps required to reach it.</div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Affirmations">For a project like <a du-smooth-scroll="2a" offset="130" duration="1000">Affirmations</a>, this could involve laying out the story, goals and game mechanics but also thinking through the different elements/layers (programming, writing, art, sound) and the connections/dependencies between them.</uib-accordion-group></uib-accordion></div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: AudiAnnotate">For a project like <a du-smooth-scroll="3a" offset="130" duration="1000">AudiAnnotate</a> this could involve identifying all the different text analysis procedures/methods they want to support, describing the ways users will interact with each of them and breaking these down into functionality.</uib-accordion-group></uib-accordion></div>
          </div>
          <div class="comp-lit">
            <div class="lit-desc"><div class="lit-title">Functional · Rhetorical</div>Learners are able to justify/refute technical approaches by linking their affordances to research goals and contextually appropriate theory.</div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Comédie-Française Registers Project">The <a du-smooth-scroll="1c" offset="130" duration="1000">Comédie-Française Registers Project</a> could have chosen to take a text-forward approach to capturing grave data; a spatial approach, or even a relational/networked approach with a focus on family lines; competence in this dimension would mean being able to explain how the choice of, for instance, TEI XML or a relational database to encode information makes sense, in light of the dimensions/qualities of the data they are interested in and planned data transformations/manipulations.</uib-accordion-group></uib-accordion></div>
          </div>
          <div class="comp-lit">
            <div class="lit-title">Disposition Aspects</div>
            <ul>
              <li><b>HHHF</b>: Learners are explaining their choices in relation to the framing of their objects as highly contextual cultural artefacts.</li>
              <li><b>PC</b>: Learners are comparing multiple representations, which serves to highlight the non-neutrality and constructedness of computational objects</li>
            </ul>
          </div>
        </div>
        <div class="comp-desc col-sm-12">
          <div class="activity-title">Modelling · Representing</div>
          <div class="activity-type">Creation</div>
          <div class="comp-s"> Learners can create a ‘datafication’ of a physical source (a process which may include both digitisation and encoding) or create a computational representation of a problem or method/process.</div>
          <div class="comp-lit">
            <div class="lit-desc"><div class="lit-title">Mechanical · Mediatory</div>Learners can: <ul>
              <li>understand how information is represented/stored by the machine and, at a higher level, by specific digital tools</li>
              <li>explain how and why they have adapted/transformed their source/question for computational constraints/affordances.</li>
            </ul></div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Comédie-Française Registers Project">In a project like the <a du-smooth-scroll="1c" offset="130" duration="1000">Comédie-Française Registers Project</a>, which  transformed a textual archive of theatre performances into relational databases, this could entail knowing about the capacities of different datatypes to figure out their suitability for different dimensions, thinking about the kind of normalization that might be needed to do aggregations but also how to preserve nuance that might be of interest, and figuring out what kinds of database relationships (e.g. one-many) fit the often irregular relationships of the data.</uib-accordion-group></uib-accordion></div>
          </div>
          <div class="comp-lit">
            <div class="lit-desc"><div class="lit-title">Procedural · Relational</div>Learners are able to specify/describe: <ul><li>the mapping between problem/source elements and components of a digital model, including how the components are connected/interdependent.</li><li>the relationship between data and context, including questions of consent and sovereignty </li></ul></div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Comédie-Française Registers Project">For a project like the <a du-smooth-scroll="1c" offset="130" duration="1000">Comédie-Française Registers Project</a>, this could look like being able to explain the entities that are included (e.g. actors, plays, dates) and how they are connected (e.g. actors performed a play on a specific date), understanding how this relationship manifests as its own object (performances), even if there is no knowledge of the specific implementation (e.g. foreign keys, unique ids).</uib-accordion-group></uib-accordion></div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Bukit Brown Cemetery Documentation Project">For a project like <a du-smooth-scroll="1c" offset="130" duration="1000">Bukit Brown Cemetery Documentation Project</a>, this could look like learning about culturally specific notions of sacredness and what it is respectful to collect/for certain groups to view</uib-accordion-group></uib-accordion></div>
          </div>
          <div class="comp-lit">
            <div class="lit-desc"><div class="lit-title">Functional · Rhetorical</div>Learners can explain the implications/justify of modelling choices (e.g. what dimensions were included/excluded, what transformations occurred, how relationships are represented) in relation to their base questions/problem and theoretical lens(es)</div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Comédie-Française Registers Project">In the the case of the  <a du-smooth-scroll="1c" offset="130" duration="1000">Comédie-Française Registers Project</a>, this might look like noting cases of ambiguity (such as tickets covering an unknown number of guests that might impact aggregation), explaining the presence of additions made beyond the source text (why they are important, where they come from) and reckoning with both the limitations and affordances of the chosen encoding (e.g. created to support fine grained numeric calculation but leaves blocks of textual data nearly untreated)</uib-accordion-group></uib-accordion></div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Anti-Eviction Mapping Project">In a case of a project like the <a du-smooth-scroll="2b" offset="130" duration="1000">Anti-Eviction Mapping Project</a>, this might involve explaining their choice of points to include in storymaps</uib-accordion-group></uib-accordion></div>
          </div>
          <div class="comp-lit">
            <div class="lit-title">Disposition Aspects</div>
            <ul>
              <li><b>PC</b>: Computational encoding can resist ambiguity and variation; students should think through what parts of the complexity and multiplicity they see worth preserving and how to do so within the constraints of the medium </li>
              <li><b>SOEF</b>: Data can be used as a tool for oppression, with marginalised perspectives silenced by the conflation of ‘general’ and ‘dominant’. Students should be reflecting on what voices and viewpoints their encodings uplift or overlook.</li>
            </ul>
          </div>
        </div>
        <div class="comp-desc col-sm-12">
          <div class="activity-title">Recursing · Refining</div>
          <div class="activity-type">Creation</div>
          <div class="comp-s">Learners are able to:<ul>
            <li>incrementally construct digital components for problem solving and interpretation that build upon their own work or that of others </li>
            <li>modify existing methods and tools for their own context and explain the changes in terms of concrete outcome and theoretical grounding</li>
            <li>situate components and identify their effect in the context of larger systems — technical and social alike</li>
          </ul></div>
          <div class="comp-lit">
            <div class="lit-desc"><div class="lit-title">Mechanical · Mediatory</div>Learners are able to:
            <ul>
              <li>render imagined processes programmatically</li>
              <li>identify places where this representation differs from the initial conceptualisation</li>
              <li>engage with questions of versioning and compatibility</li>
            </ul>
          </div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: .break.dance">For a project like <a du-smooth-scroll="2c" offset="130" duration="1000">.break.dance</a>, this means devising and implementing the mechanisms (visual behaviour, interaction mechanisms) to represent the abstract ideas like ‘hauntedness’ and ‘agency’ that they wanted to communicate.</uib-accordion-group></uib-accordion></div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: On the Books">For a project like <a du-smooth-scroll="1e" offset="130" duration="1000">On the Books</a> it would involve writing, training and fine tuning the ML algorithms used for text identification and categorisation.</uib-accordion-group></uib-accordion></div>
          </div>
          <div class="comp-lit">
            <div class="lit-desc"><div class="lit-title">Procedural · Relational</div>Learners have an understanding of computational building blocks and pipelines; they can describe the relationships between them in terms of inputs/outputs and dependencies, including interactions with humans.
            </div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: AudiAnnotate">For a project like <a du-smooth-scroll="3a" offset="130" duration="1000">AudiAnnotate</a>, this would entail being able to describe how audio is uploaded, broken down and annotated, and how the annotations are represented, linked to the audio, and exported.</uib-accordion-group></uib-accordion></div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: George Eliot Archive">For a project like the <a du-smooth-scroll="1d" offset="130" duration="1000">George Eliot Archive</a>, this would involve being able to describe how all the different elements (types of data and interactions) as well as the different layers that compose the system (where is the data stored and it what format, how does the interface access the data, etc.) fit together.</uib-accordion-group></uib-accordion></div>
          </div>
          <div class="comp-lit">
            <div class="lit-desc"><div class="lit-title">Functional · Rhetorical</div> Learners can read/interpret an assemblage of components/processes in terms of the argument(s) they are collectively making.</div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Native Land Digital">For a project like <a du-smooth-scroll="2b" offset="130" duration="1000">Native Land Digital</a>, this might involve thinking through the meaning of using a map projection of western origin but disrupting its conventions with overlapping borders, of including (and permitting the contrast of) both cultural and institutional divisions/lenses (languages/treaties), etc.</uib-accordion-group></uib-accordion></div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Anti-Eviction Mapping Project">For a project like the <a du-smooth-scroll="2b" offset="130" duration="1000">Anit-Eviction Mapping Project</a>, this might involve interrogating/choosing what is represented through the lens of the data source/means of collection, looking at the relationships between power structures and different types of data.</uib-accordion-group></uib-accordion></div>
          </div>
          <div class="comp-lit">
            <div class="lit-title">Disposition Aspects</div>
            <ul>
              <li><b>HHHF</b>: By looking at how computational systems are integrated with cultural ones and draw on processes/conventions born of existing methods and older technologies, learners are engaging with the question of how computing transforms what it means to exist in the world as a human.</li>
              <li><b>PC</b>: By building on and adapting existing work, learners are multiplying the voices present in computing/increasing the scope and complexity.</li>
            </ul>
          </div>
        </div>
        <div class="comp-desc col-sm-12">
          <div class="activity-title">Humanising · Illustrating</div>
          <div class="activity-type">Creation</div>
          <div class="comp-s">Learners are able to:
            <ul>
              <li>describe the implications of their work — the new context-specific knowledge it represents as well as how it fits into larger networks of meaning-making</li>
              <li>describe their work in terms of the human labour and environmental resources it used and may continue to require</li>
            </ul>
          </div>
          <div class="comp-lit">
            <div class="lit-desc"><div class="lit-title">Mechanical · Mediatory</div>Learners know how to: <ul>
              <li>document their technical processes for consumption and reuse by others</li>
              <li>identify the technical and labour requirements awareness of long term upkeep/preservation.</li>
            </ul></div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Anti-Eviction Mapping Project">For a project like the <a du-smooth-scroll="2b" offset="130" duration="1000">Anti-Eviction Mapping Project</a>,, this could mean thinking through considerations such as long term data storage and interface maintenance requirements, including dimensions such as hosting, access and version updates.</uib-accordion-group></uib-accordion></div>
          </div>
          <div class="comp-lit">
            <div class="lit-desc"><div class="lit-title">Procedural · Relational</div>Learners can interpret each element of their process, explaining their purpose and limitations with respect to knowledge production, including their relationship to relevant methodologies and theories.</div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example:  Lady's Museum Project">In a project like the <a  du-smooth-scroll="1a" offset="130" duration="1000"> Lady's Museum Project</a>, this could be designing and explaining schemata and tagsets constructed, for instance, to be reflective of a feminist approach to scholarship with, for example, metadata that incorporates researcher positionality or subjective tags for affect.</uib-accordion-group></uib-accordion></div>
          </div>
          <div class="comp-lit">
            <div class="lit-desc"><div class="lit-title">Functional · Rhetorical</div> Learners are able to:
              <ul>
                <li>communicate the meaning/contribution of their work to both technical and problem-domain experts, as well as the lay public</li>
                <li>explain the interplay of computation and human interpretation in a digital object</li>
              </ul>
            </div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: War History on the Semantic Web">In a project like <a du-smooth-scroll="1e" offset="130" duration="1000">War History on the Semantic Web</a>, this could look like explaining the ways in which historical frameworks and creator interests informed the creation of ontologies, as well as the advances/possibilities afforded by assembling and normalising access to heterogeneous sources.</uib-accordion-group></uib-accordion></div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Virtual Viking Longship Project">In the case of a project like the <a du-smooth-scroll="2a" offset="130" duration="1000">Virtual Viking Longship Project</a>, this could entail explaining what ways of viewing/understanding history are made possible/transformed by digital mediation as well as reflecting on what kinds of experiences/modes of knowledge creation it forecloses.</uib-accordion-group></uib-accordion></div>
          </div>
          <div class="comp-lit">
            <div class="lit-title">Disposition Aspects</div>
            <ul>
              <li><b>HHHF</b>: Learners are interrogating how computational objects draw on long histories of technology and scholarship, and are reflecting on how they advance and alter knowledge.</li>
              <li><b>SOEF</b>: Learners are considering the various types of human labour that are necessary for computational knowledge production.</li>
            </ul>
          </div>
        </div>
        <div class="comp-desc col-sm-12">
          <div class="activity-title">Decomposing · Contextualising</div>
          <div class="activity-type">Analysis</div>
          <div class="comp-s">Learners are able to build an understanding of objects of interest by breaking them down into component parts and learning about the domain, theoretical and technical context of these pieces and the object as a whole.</div>
          <div class="comp-lit">
            <div class="lit-desc"><div class="lit-title">Mechanical · Mediatory</div> Learners are able to:
            <ul><li>parse any available documentation related to the technical composition of digital objects of study or, in its absence, propose possibilities based on its behaviour and context of creation</li>
              <li>interrogate the origins of the technologies and how this has shaped their functionality/use </li></ul>

          </div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Native Land Digital">For a project like <a du-smooth-scroll="2b" offset="130" duration="1000">Native Land Digital</a>, this could involve playing around with the underlying api and gaining familiarity with the history of mapping software.</uib-accordion-group></uib-accordion></div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: On the Books">For a project like <a du-smooth-scroll="1e" offset="130" duration="1000">On the Books</a>, this might involve diving into OCR training data, pre-processing procedures, and detection algorithms as a means of understanding the kinds of errors it makes/correcting them.</uib-accordion-group></uib-accordion></div>
          </div>
          <div class="comp-lit">
            <div class="lit-desc"><div class="lit-title">Procedural · Relational</div> Learners are able to:
              <ul>
                <li>break down objects into a series of linked procedures and make inferences about both the purpose and contextual/theoretical implications of these components and their relationships</li>
                <li>draw on examples from related contexts to identify the dimensions or types of interactions that are not supported</li>
              </ul>
            </div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Affirmations">For a project like <a du-smooth-scroll="2a" offset="130" duration="1000">Affirmations</a>, this might look like building an understanding of the procedural rhetoric of the game by interrogating elements of its structure and mechanisms (e.g. morality system, character creation, story structure and goals)</uib-accordion-group></uib-accordion></div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Corpora">For a project like <a>Corpora</a>, this might involve considering, in turn, what each of the corpus management features does and how it may or may not be able to handle different types of information/collections, critically examining the possible rationales for what it <i>does</i> permit</uib-accordion-group></uib-accordion></div>
          </div>
          <div class="comp-lit">
            <div class="lit-desc"><div class="lit-title">Functional · Rhetorical</div> Learners are able to propose a potential reading of the context (cultural, temporal), assumptions (ideological, practical) and positionality underpinning the object/tool through examining its mechanics and procedures and how these fit (or not) with existing standards/conventions and current ideas</div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Comédie-Française Registers Project">For project the <a du-smooth-scroll="1c" offset="130" duration="1000">Comédie-Française Registers Project</a>, this might involve interrogating the tension between the historical context of the source (privileged, institutional) and the researchers’ stated focus on rethinking canonical histories and how these different perspectives are reflected in database schema and interface/visualisation design.</uib-accordion-group></uib-accordion></div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Distant Viewing Toolkit">In a project like the <a du-smooth-scroll="3c" offset="130" duration="1000">Distant Viewing Toolkit</a >this might involve interrogating the kinds of texts the methodology was designed and  how the available encodings/procedures reflect this (e.g. assumption of RTL, of a specific narrative structure, of the existence or structure of certain metadata)</uib-accordion-group></uib-accordion></div>
          </div>
          <div class="comp-lit">
            <div class="lit-title">Disposition Aspects</div>
            <ul>
              <li><b>HHHF</b>: Learners are situating problems and technologies in larger social and technical histories and contexts.</li>
            </ul>
          </div>
        </div>
        <div class="comp-desc col-sm-12">
          <div class="activity-title"> Pattern Recognising · Comparing</div>
          <div class="activity-type">Analysis</div>
          <div class="comp-s">Learners are able to extract high-level patterns from specific implementations, methodologies, and contextually anchored problems so as to be able to put them in conversation with different but related currents of work</div>
          <div class="comp-lit">
            <div class="lit-desc"><div class="lit-title">Mechanical · Mediatory</div> Learners are able to:
              <ul>
                <li>abstract upward to describe implementation in terms of types and technologies and patterns of use</li>
                <li>consider these alongside other instances of use to describe and analyse differences across contexts</li>
              </ul>
            </div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: George Eliot Archive">For a project like the network visualisation in the <a du-smooth-scroll="1d" offset="130" duration="1000">George Eliot Archive</a>, this might involve thinking abstractly about the possible components of networks (nodes, links, weights) and how different projects attach different types or variables or visual representations to them.</uib-accordion-group></uib-accordion></div>
          </div>
          <div class="comp-lit">
            <div class="lit-desc"><div class="lit-title">Procedural · Relational</div> Learners are able to:
              <ul>
                <li>identify the use of common methods (e.g. topic modelling, stylometric analysis) and cross-cutting technical standards (e.g. encoding schemas like TEI, ontology vocabularies like dublin core) and analyse how and why they are used, with respect to other objects/projects that also leverage them</li>
                <li>identify and describe the modes of interaction and knowledge creation these procedures support, interrogating their epistemological foundations</li>
              </ul>
           </div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Lady's Museum Project">For a project like the the <a u-smooth-scroll="1a" offset="130" duration="1000">Lady's Museum Project</a>, this could involve selecting/justifying/analysing the elements of the encoding structure/attributes that belong to, or depart from, existing standards</uib-accordion-group></uib-accordion></div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: George Eliot Archive">For a project like <a u-smooth-scroll="1d" offset="130" duration="1000">George Eliot Archive</a>, this could involve critically analysing the types of usages the interface allows. Does the interface lend itself to spurious discovery or is agency limited? Does it provide mechanisms to scaffold interpretation or is it open ended? (e.g. suggesting connections, limiting types of annotations or links)</uib-accordion-group></uib-accordion></div>
          </div>
          <div class="comp-lit">
            <div class="lit-desc"><div class="lit-title">Functional · Rhetorical</div>Learners are able to situate the project/object in the larger scholarly landscapes, as a function of the technologies it uses, methods it employs, and contextual purpose and arguments and  discuss different currents of relevant DH work in terms of these technical or contextual dimensions</div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Comédie-Française Registers Project">In the case of a project like the <a du-smooth-scroll="1c" offset="130" duration="1000">Comédie-Française Registers Project</a>, this might involve looking at the paradigms used by other digital theatre history projects — focus on texts, focus on cultural impact — the types of digital objects they construct, and the methods they employ to be able to describe both how the project build on existing work and how it offers a unique contribution.</uib-accordion-group></uib-accordion></div>
          </div>
          <div class="comp-lit">
            <div class="lit-title">Disposition Aspects</div>
            <ul>
              <li><b>PC</b>: Through comparisons, learners are engaging with multiple possibilities.</li>
              <li><b>SOEF</b>: In engaging with comparison, learners can keep an eye to gaps and silences. It is also necessary to be able to think on a systemic level to address systemic issues.</li>
            </ul>
          </div>
        </div>
        <div class="comp-desc col-sm-12">
          <div class="activity-title">Evaluating · Annotating</div>
          <div class="activity-type">Analysis</div>
          <div class="comp-s"> Learners are able to offer their own interpretation of the purpose and utility of a computational object and argue the extent to which it is serving its apparent goals using evidence tied to specific elements, behaviours, or examples.</div>
          <div class="comp-lit">
            <div class="lit-desc"><div class="lit-title">Mechanical · Mediatory</div>Learners have the capacity to read and interpret an implementation to examine the influence of computational mediation on knowledge representation/claims and how the specificity/affordances of the digital medium are reflected in/leveraged by the object</div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: On the Books">In a project like <a du-smooth-scroll="1e" offset="130" duration="1000">On the Books</a> this could mean interrogating the assumptions behind machine learnability and the extent to which they hold in the specific context</uib-accordion-group></uib-accordion></div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: .break.dance">For a project like <a du-smooth-scroll="2c" offset="130" duration="1000">.break.dance</a>, this could mean discussing the ‘digital-ness’ of specific elements that were used for storytelling — what qualities of how the computer represents/interacts with information make it so that the representations could not have been replicated in written text, or in a static visual medium like film.</uib-accordion-group></uib-accordion></div>
          </div>
          <div class="comp-lit">
            <div class="lit-desc"><div class="lit-title">Procedural · Relational</div>Learners can propose metrics and methods by which different components of a system and the system as a whole might be tested or validated that are founded in the domain and theoretical context</div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Distant Reading Toolkit">In a project like the <a du-smooth-scroll="3c" offset="130" duration="1000">Distant Reading Toolkit</a>, this might look like trying out the distant reading tools and different types of texts and analytical foci, testing, for instance, the degree to which it is possible to perform analyses focused on terms belonging to the category of stopwords.</uib-accordion-group></uib-accordion></div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: The Comédie-Française Registers Project">In a project like the <a du-smooth-scroll="1c" offset="130" duration="1000">The Comédie-Française Registers Project</a> this might involve interface evaluations not based on time on task or number of clicks, but on the number of different ways a user can find specific information, or the different types of information relating to the same entity they can discover.</uib-accordion-group></uib-accordion></div>
          </div>
          <div class="comp-lit">
            <div class="lit-desc"><div class="lit-title">Functional · Rhetorical</div> Learners are able to analyse and critique the approach and knowledge contribution of an object through different theoretical lenses/paradigms</div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Native Land Digital">In the case of a project like <a du-smooth-scroll="2b" offset="130" duration="1000">Native Land Digital</a>, this might look like considering the metrics of what makes ‘good’ data visualisation associated with the scientific as well as feminist/affective paradigms, as well as looking at how the high-level concepts represented are reflective or not of indigenous lifeworld ways of knowing/values.</uib-accordion-group></uib-accordion></div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: George Eliot Archive">In the case of the <a du-smooth-scroll="1d" offset="130" duration="1000">George Eliot Archive</a>, this could look like drawing on theories of hermeneutics to interrogate the contribution of AI generated summaries
</uib-accordion-group></uib-accordion></div>
          </div>
          <div class="comp-lit">
            <div class="lit-title">Disposition Aspects</div>
            <ul>
              <li><b>SOEF</b>: Learners can use this step as a chance to integrate alternative metrics of success that are representative of non-dominant ways of knowing.</li>
            </ul>
          </div>
        </div>
        <div class="comp-desc col-sm-12">
          <div class="activity-title">Generalising · Synthesising</div>
          <div class="activity-type">Analysis</div>
          <div class="comp-s"> Learners are able to apply their contextual and technical learning by integrating it with other work, and view it on an abstract level, thinking in terms of high-level practices and principles. </div>
          <div class="comp-lit">
            <div class="lit-desc"><div class="lit-title">Mechanical · Mediatory</div>Learners are able to specify how computational problem solving components might be made more polymorphic/generally usable and discuss the pros and cons of doing so.</div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Comédie-Française Registers Project">For a project like the <a du-smooth-scroll="1c" offset="130" duration="1000">The Comédie-Française Registers Project</a>, this might involve looking at how their database schema and bespoke transcription workflow might be changed to apply to different projects — in theatre history, or to different cultural phenomena -- attending to the kinds of specificity, in data and process, that might be lost/require major alteration to do so (e.g. do other projects have the same structure of time, same types of relationships between actors and roles, etc.)</uib-accordion-group></uib-accordion></div>
          </div>
          <div class="comp-lit">
            <div class="lit-desc"><div class="lit-title">Procedural · Relational</div>Learners are able to describe possible uses (and misuses) for the different components of an object, or the object as a whole, outside of the current context</div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Anti-Eviction Mapping Project">In the case of the <a  du-smooth-scroll="2b" offset="130" duration="1000">Anti-Eviction Mapping Project</a>, this might be thinking about how the dataset could be used for something like predictive policing, rather than community awareness, or imagining the different kinds of data that could be similarly mapped to benefit precarious communities.</uib-accordion-group></uib-accordion></div>
          </div>
          <div class="comp-lit">
            <div class="lit-desc"><div class="lit-title">Functional · Rhetorical</div>Learners are able to use (or propose a potential use of) the function/argument of an object as part of the investigation of a broader problem. They are also able to discuss its an object as a cultural and political object, identifying its relationship to the cultural context from which it emerged and identifying the groups and systems it has the potential to impact (positively or negatively) </div>
            <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Comédie-Française Registers Project">For a project like the <a du-smooth-scroll="1c" offset="130" duration="1000">The Comédie-Française Registers Project</a>, this could look like using the new data-driven findings to disrupt traditional ideas of cannon/success.</uib-accordion-group></uib-accordion></div>
              <div class="lit-ex"><uib-accordion><uib-accordion-group heading="Example: Distant Viewing Toolkit">For a project like the <a du-smooth-scroll="3c" offset="130" duration="1000">Distant Viewing Toolkit</a>, this might look like doing a methodological critique of distant viewing, looking at how it fits in with the trend of empiricism and the decentering of storytelling that started in the eighteenth century and how it could be seen as informing more modern approaches, such as automatic summarisation.</uib-accordion-group></uib-accordion></div>
          </div>
          <div class="comp-lit">
            <div class="lit-title">Disposition Aspects</div>
            <ul>
              <li><b>HHHF</b>: Learners are synthesising their work with histories of knowledge creation.</li>
              <li><b>SOEF</b>: Learners are thinking about computational objects and both cultural products and agents.</li>
            </ul>
          </div>
        </div>




      </div>
      <div class="content-section col-md-12">
        <div class="content-header" id="projects">Context Projects</div>
        <p>The scope of DH is broad and, correspondingly, the following categorisations and examples inevitably miss some aspects of DH. They are intended only to survey some of the most common project types and, in many places, overlap. Only one or two examples are given per subcategory; this is not an assertion that all projects within a subcategory share outlooks or concerns or that the scope of the projects can be confined to a single category. </p>
        <ul id="project-groups">
          <li><span class="project-cat">Investigating a textual, physical, or auditory object, source or archive</span>
            <ul>
              <li id="1a">Digital editions: <a href="https://reviewsindh.pubpub.org/pub/ladys-museum-project/release/2" target="_blank">The Lady's Museum Project</a></li>
              <li id="1b">Digital reconstructions or exhibitions: <a href="https://reviewsindh.pubpub.org/pub/virtual-viking-longship-project/release/2" target="_blank">Virtual Viking Longship Project</a> </li>
              <li id="1c">Source digitisation and transformation: <a href="https://reviewsindh.pubpub.org/pub/the-comedie-francaise-registers-project/release/3" target="_blank">The Comédie-Française Registers Project</a> (textual source), <a href="https://reviewsindh.pubpub.org/pub/the-comedie-francaise-registers-project/release/3" target="_blank">The Bukit Brown Cemetery Documentation Project</a> (physical source)</li>
              <li id="1d">Digital processing and analysis (e.g. visualisation, text analysis, network analysis, mapping): <a href="https://reviewsindh.pubpub.org/pub/george-eliot-archive-2025/release/1" target="_blank">George Eliot Archive</a></li>
              <li id="1e">Source assemblages: <a href="https://reviewsindh.pubpub.org/pub/war-history-on-the-semantic-web/release/2" target="_blank"> War History on the Semantic Web</a> (semantic web), <a href="https://reviewsindh.pubpub.org/pub/on-the-books/release/2" target="_blank">On the Books: Jim Crow and Algorithms of Resistance</a> (text mining)</li>
            </ul>
          </li>
          <li><span class="project-cat">Investigating/engaging with a social and/or technical phenomenon </span>
            <ul>
              <li id="2a">Serious Games: <a href="https://reviewsindh.pubpub.org/pub/affirmations-2/release/3" target="_blank">Affirmations</a></li>
              <li id="2b">Data crowdsourcing and dissemination: <a href="https://reviewsindh.pubpub.org/pub/antieviction-mapping-project/release/2" target="_blank">Anti-Eviction Mapping Project</a>, <a href="https://reviewsindh.pubpub.org/pub/native-land-digital/release/1" target="_blank">Native Land Digital</a></li>
              <li id="2c">Creative Digital Storytelling: <a href="https://reviewsindh.pubpub.org/pub/breakdance/release/3" target="_blank">.break.dance</a></li>
            </ul>
          </li>
          <li><span class="project-cat">Developing a generic tool to address a process or method</span>
            <ul>
              <li id="3a">Annotation: <a href="https://reviewsindh.pubpub.org/pub/audiannotate/release/4" target="_blank">AudiAnnotate</a></li>
              <li id="3b">Data management/transformation:  <a href="https://reviewsindh.pubpub.org/pub/corpora/release/1" target="_blank">Corpora</a></li>
              <li id="3c">Analysis: <a href="https://reviewsindh.pubpub.org/pub/distant-viewing-toolkit/release/1" target="_blank">Distant Viewing Toolkit</a></li>
            </ul>
          </li>
        </ul>
      </div>
  </div>

</body>
